{% if o_type == "tool" %}
from mcp_utils.mcp_tool import Tool
{% else %}
from mcp_utils.mcp_resource import Resource
{% endif %}


{{ o_type }} = {{ "Tool" if o_type == "tool" else "Resource" }}()

@{{ o_type }}.get("/{{name}}")
{{- mcp_function }}