{% if o_type == "tool" %}
from mcp_utils.mcp_tool import Tool
{% else %}
from mcp_utils.mcp_resource import Resource
{% endif %}


{{ "tool" if o_type == "tool" else "resource" }} = {{ "Tool" if o_type == "tool" else "Resource" }}()


@tool.get("/{{name}}")
{{- mcp_function }}